{% extends "base.html" %}

{% block title %}Métal - Liste des Genres{% endblock %}

{% block styles %}
    {{super()}}
    <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Listes des Genres de Métal</h1>
    </div>
    <p>
        {% if genres %}
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-columns="true"
               data-pagination="true"
               data-id-field="id"
               data-page-size="25"
               data-page-list="[10, 25, 50, 100, all]"
               data-response-handler="responseHandler">
            <thead>
                <tr>
                    <th data-field="nom" data-sortable="true">Non du genre</th>
                    <th data-field="nbrbands" data-sortable="true" class="text-center">Bands</th>
                    <th class="text-center">Modifier</th>
                    <th class="text-center">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for genre in genres %}
                    <tr>
                        <td>
                            <a href="{{ url_for('show_genre', genre_id=genre['genre_id']) }}">{{ genre['genre_name'] }}</a>
                        </td>
                        <td class="text-center">
                            {% if genre['count_bands'] > 0 %}
                                {{ genre['count_bands'] }}&nbsp;
                                <a href="{{ url_for('list_bands_by_genre', genre_id=genre['genre_id']) }}"
                                   class="btn btn-success btn-xs" data-title="Voir">
                                   <span class="glyphicon glyphicon-list"></span>
                                </a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('upd_genre', genre_id=genre['genre_id']) }}"
                               class="btn btn-primary btn-xs" data-title="Modifier">
                               <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('del_genre', genre_id=genre['genre_id']) }}"
                               class="btn btn-danger btn-xs" data-title="Supprimer">
                               <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de genre dans la base de données</em>
        {% endif %}
    </p>
    <p>
        <a href="{{ url_for('add_genre') }}" class="btn btn-default">Ajouter un genre</a>
        <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    </p>
</div>
{% endblock %}