{% extends "base.html" %}

{% block title %}Métal - Liste des Pays{% endblock %}

{% block styles %}
    {{super()}}
    <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Liste des Pays</h1>
    </div>
    <p>
        {% if countries %}
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-columns="true"
               data-pagination="true"
               data-id-field="id"
               data-page-list="[10, 25, 50, 100, all]"
               data-response-handler="responseHandler">
            <thead>
                <tr>
                    <th data-field="code" data-sortable="false">Code</th>
                    <th data-field="nom" data-sortable="true">Nom français du pays</th>
                    <th data-field="name" data-sortable="true">Nom anglais du pays</th>
                    <th data-field="alf2" data-sortable="true">Alpha 2</th>
                    <th data-field="alf3" data-sortable="true">Alpha 3</th>
                    <th data-field="nbrbands" data-sortable="true">Bands</th>
                    <th class="text-center">Modifier</th>
                    <th class="text-center">Supprimer</th>
                </tr>
            </thead>
            <tbody>
                {% for country in countries %}
                    <tr>
                        <td>
                            <a href="{{ url_for('show_country', country_id=country['country_id']) }}">{{ country['country_code'] }}</a>
                        </td>
                        <td>{{ country['country_name_fr'] }}</td>
                        <td>{{ country['country_name_en'] }}</td>
                        <td>{{ country['country_alpha2'] }}</td>
                        <td>{{ country['country_alpha3'] }}</td>
                        <td class="text-center">
                            {% if country['count_bands'] > 0 %}
                                {{ country['count_bands'] }}&nbsp;
                                <a href="{{ url_for('list_bands_by_country', country_id=country['country_id']) }}"
                                   class="btn btn-success btn-xs" data-title="Voir">
                                   <span class="glyphicon glyphicon-list"></span>
                                </a>
                            {% else %}
                                0
                            {% endif %}
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('upd_country', country_id=country['country_id']) }}"
                               class="btn btn-primary btn-xs" data-title="Modifier">
                               <span class="glyphicon glyphicon-pencil"></span>
                            </a>
                        </td>
                        <td class="text-center">
                            <a href="{{ url_for('del_country', country_id=country['country_id']) }}"
                               class="btn btn-danger btn-xs" data-title="Supprimer">
                               <span class="glyphicon glyphicon-trash"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de pays dans la base de données</em>
        {% endif %}

    <p>
        <a href="{{ url_for('add_country') }}" class="btn btn-default">Ajouter un pays</a>
        <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    </p>
</div>

{% endblock %}