{% extends "base.html" %}

{% block title %}Métal - Liste de mes Bands{% endblock %}

{% block styles %}
    {{super()}}
    <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Listes de mes Bands</h1>
    </div>
    <p>
        {% if bands %}
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-columns="true"
               data-pagination="true"
               data-id-field="id"
               data-page-size="50"
               data-page-list="[10, 25, 50, 100, all]"
               data-response-handler="responseHandler">
            <thead>
                <tr>
                    <th data-field="nom" data-sortable="true">Non du band</th>
                    <th>Pays</th>
                    <th>Genres</th>
                    <th>J'écoute</th>
                    <th data-field="last_listened" data-sortable="true">Dernière Écoute</th>
                    <th>À Écouter</th>
                    <th data-field="fans" data-sortable="true">Fans</th>
                </tr>
            </thead>
            <tbody>
                {% for band in bands %}
                    <tr>
                        <td>
                            <a href="{{ url_for('show_band', band_id=band['band_id'], return_to="list_my_bands", ent_id=0) }}">{{ band['band_name'] }}</a>
                        </td>
                        <td>{{ band.country_list }}</td>
                        <td>{{ band.genre_list }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('upd_user_band_listen_ts', band_id=band['band_id']) }}"
                               class="btn btn-primary btn-xs" data-title="Làlàlà">
                               <span class="glyphicon glyphicon-headphones"></span>
                            </a>
                        </td>
                        {% if band.last_listened_ts %}
                            <td>{{ band.last_listened_ts }}</td>
                        {% else %}
                            <td>Jamais</td>
                        {% endif %}
                        {% if band.mark_to_listen %}
                            <td class="text-center">
                                <a href="{{ url_for('reset_band_to_listen', band_id=band['band_id']) }}"
                                   class="btn btn-danger btn-xs" data-title="Retirer">
                                    <span class="glyphicon glyphicon-minus"></span>
                                </a>
                            </td>
                        {% else %}
                            <td class="text-center">
                                <a href="{{ url_for('set_band_to_listen', band_id=band['band_id']) }}"
                                   class="btn btn-success btn-xs" data-title="Ajouter">
                                    <span class="glyphicon glyphicon-plus"></span>
                                </a>
                            </td>
                        {% endif %}
                        <td>{{ band.count_fans }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        {% else %}
            <em>Il n'y a pas de band dans la base de données</em>
        {% endif %}
    </p>
    <p>
        <a href="{{ url_for('index') }}" class="btn btn-default">Retour</a>
    </p>
</div>
{% endblock %}