{% extends "base.html" %}

{% block title %}Métal - Gérer les Pays d'un Band{% endblock %}

{% block styles %}
    {{super()}}
    <link href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css" rel="stylesheet">
{% endblock %}

{% block scripts %}
    {{super()}}
    <script src="https://unpkg.com/tableexport.jquery.plugin/tableExport.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.js"></script>
    <script src="https://unpkg.com/bootstrap-table@1.17.1/dist/extensions/export/bootstrap-table-export.min.js"></script>
{% endblock %}

{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Gérer les Pays</h1>
    </div>
    <h2>Pays déjà assignés à ce band</h2>
    {% if band_countries %}
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Nom</th>
                    <th class="text-center">Enlever</th>
                </tr>
            </thead>
            <tbody>
                {% for b_c in band_countries %}
                    <tr>
                        <td>{{ b_c['country_name'] }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('del_band_country', country_id=b_c.country_id) }}"
                               class="btn btn-danger btn-xs" data-title="Enlever">
                               <span class="glyphicon glyphicon-minus"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>Ce band n'a pas de pays assigné.</em>
    {% endif %}

    <h2>Liste des pays disponibles</h2>
    {% if countries|length > 0 %}
        <p>
        <table id="table"
               data-toggle="table"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-columns="true"
               data-pagination="true"
               data-id-field="id"
               data-page-list="[10, 25, 50, 100, all]"
               data-response-handler="responseHandler">
            <thead>
                <tr>
                    <th data-field="nom" data-sortable="true">Nom français</th>
                    <th data-field="name" data-sortable="true">Nom anglais</th>
                    <th class="text-center">Ajouter</th>
                </tr>
            </thead>
            <tbody>
                {% for c in countries %}
                    <tr>
                        <td>{{ c['country_name_fr'] }}</td>
                        <td>{{ c['country_name_en'] }}</td>
                        <td class="text-center">
                            <a href="{{ url_for('add_band_country', band_id=band_id, country_id=c['country_id']) }}"
                               class="btn btn-primary btn-xs" data-title="Ajouter">
                                <span class="glyphicon glyphicon-plus"></span>
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <em>Aucune pays disponible pour ce band.</em>
    {% endif %}
    <p>&nbsp;</p>
    <a href="{{ url_for('upd_band', band_id=band_id) }}" class="btn btn-default">Retour</a>
</div>
{% endblock %}