{% extends "base.html" %}
{% block page_content %}
<div class="container">
    <div class="page-header">
        <h1>Genre: {{ genre.genre_name }}</h1>
    </div>
    <div class = "panel panel-primary">
        <div class = "panel-heading">
            <h2 class = "panel-title">Description</h2>
        </div>

        <div class = "panel-body">
            {{ genre.genre_desc }}
        </div>
    </div>

    <p>&nbsp</p>
    <p>Ajouté par: {{ genre.audit_crt_user_name }}, le {{ genre.audit_crt_ts }}</p>
    {% if genre.audit_upd_user %}
        <p>Modifié par: {{ genre.audit_upd_user_name }}, le {{ genre.audit_upd_ts }}</p>
    {% endif %}
    <p><a href="{{ url_for('list_genres') }}" class="btn btn-default">Retour à la liste</a></p>
    <p>&nbsp</p>
</div>
{% endblock %}
